/* Global Styles */

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6,
p, li{
	color: #fff;
	font-family: sans-serif;
}

/* Main Nav Styles */

header {
	margin-top: 30px;
	width: 100%;
	height: 50px;
	background-color: transparent;
	margin-bottom: 20px;
	position: fixed;
}

.logo {
	display: inline;
	float: left;
	font-weight: 100;
	margin-left: 15%;
	text-align: right;
}

nav {
	float: right;
	width: auto;
	margin-right: 10%;
}

nav ul {
	list-style: none;
	text-transform: uppercase;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

li a {
	color: white;
}

a {
  text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.buy-now {
  border: 1px solid black;
  border-radius: 20px;
  padding: 7px;
  border-color: white;
}

/* Splash Section Styles */

.splash {
	text-align: center;
	background-color: #ccb081;
	height: 100vh;
	width: auto;
}

.splash h1 {
  font-size: 3em;
	padding-top: 200px;
	font-weight: normal;
}

.splash p {
	font-weight: normal;
}

.splash p span {
	font-weight: 700;
}

/* Transparent Background Section Styles */

.transparent {
	text-align: center;
	background-color: #ffffff;
	height: 100vh;
	width: auto;
}

.transparent h1 {
    font-size: 3em;
	padding-top: 75px;
	font-weight: normal;
	color: #898989;
	
}

.transparent p {
	color: #898989;
}

.transparent p span {
	font-weight: 700;
}


/*Nutrition Section Styles*/
.nutrition {
	background-color: #7ea36f;
	height: 100vh;
	width: auto;
	text-align: center;
}

.nutrition h1 {
  font-size: 3em;
  padding-top: 75px;
	font-weight: normal;
}

.nutrition p{
	font-weight: normal;
}

/* Tranform Section Styles*/
.transform {
	background-color: #efdeb3;
	height: 100vh;
	width: auto;
	text-align: center;
}

.transform h1 {
    font-size: 3em;
	padding-top: 75px;
	font-weight: normal;
	color: #8f6e2b;
}

.transform p {
	color: #8f6e2b;
	font-weight: normal;
}

.transform p span{
	font-weight: 700;
}



/* Buy Section Styles */

.buy {
	text-align: center;
	background-color: #efefef;
	height: 100vh;
	width: auto;
}

.buy h1 {
    font-size: 3em;
	padding-top: 75px;
	font-weight: normal;
	color: #898989;
}

.buy h2 {
    font-size: 1.65em;
	color: #898989;
	font-weight: normal;
	padding-bottom: 30px;
}

.buy h2 span{
	font-weight: 700;
}

.buy div {
	width: 60%;
	margin: 0 auto;
}
			
.buy div div  {
	width: 30%;
	float: left;
	text-align: left;
	margin-left:20px;
	margin-top: 100px;
}
			
div:nth-child(n+0){
	border-right: 1px solid #898989;
	
}
			
div:last-child{
	border-right:none;
}

.buy div div ul{
	padding-left: 15px;
	height: 95px;
}
				
.buy div div ul li  {
	color: #898989;
	padding-bottom: 20px;
}

.buy div div .button{
	 border: 1px solid #5dc14d;
  border-radius: 20px;
  padding: 7px;
  border-color: #5dc14d;
  color: #5dc14d;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 25px 8px 25px;

}

.buy div div p{
	color: #898989;
	font-size: 14px;
	padding-top: 10px;
	float: left;
	align-content: center;
}

.footer {
	background-color: #ffffff;
}