/* Global Styles */

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
	margin: 0;
	padding: 0;

}

h1, h2, h3, h4, h5, h6,
p, li{
	color: #fff;
	font-family: sans-serif;
}

body{
	scroll-behavior: smooth;
}

/* Main Nav Styles */

header {
	margin-top: 30px;
	width: 100%;
	height: 50px;
	background-color: transparent;
	margin-bottom: 20px;
	position: fixed;
}

.logo {
	display: inline;
	float: left;
	font-weight: 100;
	margin-left: 15%;
	text-align: right;
}

nav {
	float: right;
	width: auto;
	margin-right: 10%;
}

nav ul {
	list-style: none;
	text-transform: uppercase;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

li a {
	color: white;
}

a {
  text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.buy-now {
  border: 1px solid black;
  border-radius: 20px;
  padding: 7px;
  border-color: white;
}

/* Splash Section Styles */

.splash {
	text-align: center;

	height: 100vh;
	width: auto;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a18872+0,c8af99+100 */
background: #a18872; /* Old browsers */
background: -moz-linear-gradient(top,  #a18872 0%, #c8af99 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #a18872 0%,#c8af99 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #a18872 0%,#c8af99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a18872', endColorstr='#c8af99',GradientType=0 ); /* IE6-9 */

}

.splash h1 {
  font-size: 3em;
	padding-top: 200px;
	font-weight: normal;
}

.splash p {
	font-weight: normal;
}

.splash p span {
	font-weight: 700;
}

.splash img {
	width: 50%;
	height: auto;
}

/* Transparent Background Section Styles */

.transparent {
	text-align: center;
	height: 100vh;
	width: auto;
	background: url('../assets/images/blur.png') no-repeat center bottom;
	background-size: cover;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9e9e9+0,f6f6f6+100 */
/* background: #e9e9e9; /* Old browsers */
/* background: -moz-linear-gradient(top,  #e9e9e9 0%, #f6f6f6 100%); /* FF3.6-15 */
/* background: -webkit-linear-gradient(top,  #e9e9e9 0%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
/* background: linear-gradient(to bottom,  #e9e9e9 0%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.transparent h1 {
    font-size: 3em;
	padding-top: 75px;
	font-weight: 100;
	color: #898989;

}

.transparent p {
	color: #898989;
}

.transparent p span {
	font-weight: 700;
}

.transparent img {
	margin-top: 3em;
	width: 65%;
	height: auto;
}


/*Nutrition Section Styles*/
.nutrition {
   background: url('../assets/images/blur2.png') no-repeat center bottom;
    height: 100vh;
    width: auto;
    text-align: center;
    background-size: 100%;
    background-color: #6c8e5c;
    background: -moz-linear-gradient(top, #6c8e5c 0%, #77a066 100%);
    /* background: -webkit-linear-gradient(top, #6c8e5c 0%,#77a066 100%); */
    /* background: linear-gradient(to bottom, #6c8e5c 0%,#77a066 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c8e5c', endColorstr='#77a066',GradientType=0 );


}

.nutrition h1 {
  font-size: 3em;
  padding-top: 75px;
	font-weight: 100;
}

.nutrition p{
	font-weight: normal;
}

.nutrition .nutrition-potato {
	width: 30%;
	margin-top: 1.5em;

}

.nutrition .background-image{
	
	width: 100%;
}

/* Customer Service Background Section Styles */

.customer {
	text-align: center;
	height: 100vh;
	width: auto;
background-image: url("../assets/images/potatoconbg.png");
background-size: 100%;


}

.customer h1 {
    font-size: 3em;
	padding-top: 75px;
	font-weight: 100;
	color: #898989;

}

.customer p {
	color: #898989;
}

.customer p span {
	font-weight: 700;
}



/* Tranform Section Styles*/
.transform {
background: url('../assets/images/mashed.png') no-repeat left bottom, url('../assets/images/fried.png') no-repeat right bottom;
    height: 100vh;
    width: auto;
    background-size: 25%;
    text-align: center;
    background-color: #ebdaaf;
    background: -moz-linear-gradient(top, #ebdaaf 0%, #e9d29e 100%);
    /* background: -webkit-linear-gradient(top, #ebdaaf 0%,#e9d29e 100%); */
    /* background: linear-gradient(to bottom, #ebdaaf 0%,#e9d29e 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebdaaf', endColorstr='#e9d29e',GradientType=0 );}
    
.transform h1 {
    font-size: 3em;
	padding-top: 75px;
	font-weight: 100;
	color: #8f6e2b;
}

.transform p {
	color: #8f6e2b;
	font-weight: normal;
}

.transform p span{
	font-weight: 700;
}

.transform .mashed-potato{
	float: left; 
	width: 25%;
	
}

.transform .fried-potato{
	float: right; 
	width: 25%;
}



/* Buy Section Styles */

.buy {
	text-align: center;

	height: 100vh;
	width: auto;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ececec+0,f5f5f5+100 */
background: #ececec; /* Old browsers */
background: -moz-linear-gradient(top,  #ececec 0%, #f5f5f5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ececec 0%,#f5f5f5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ececec 0%,#f5f5f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */

}

.buy h1 {
    font-size: 3em;
	padding-top: 75px;
	font-weight: 100;
	color: #898989;
}

.buy h2 {
    font-size: 1.65em;
	color: #898989;
	font-weight: normal;
	padding-bottom: 30px;
}

.buy h2 span{
	font-weight: 700;
}

.buy div {
	width: 60%;
	margin: 0 auto;
}

.buy div div  {
	width: 30%;
	float: left;
	text-align: left;
	margin-left:20px;
	margin-top: 100px;
}

div{
	border-right: 1px solid #898989;

}

div:last-of-type{
	border-right:none;
}

.buy div div ul{
	padding-left: 15px;
	height: 95px;
}

.buy div div ul li  {
	color: #898989;
	padding-bottom: 20px;
}

.buy div div .button{
	 border: 1px solid #5dc14d;
  border-radius: 20px;
  padding: 7px;
  border-color: #5dc14d;
  color: #5dc14d;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 25px 8px 25px;

}

.buy div div p{
	color: #898989;
	font-size: 14px;
	padding-top: 10px;
	float: left;
	align-content: center;
}

.buy div div img {
	width: 90%;
	margin-top: 20px;
}

.footer {
	background-color: #ffffff;
}
